---
const pageTitle = 'わたしについて';

const identity = {
	firstName: "h",
	country: "japan",
	hobbies: ["web", "Game", "ipad",],
};
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
    <nav>
      <a href="/">ホーム</a>
      <a href="/about/">about</a>
      <a href="/blog/">blog</a>
    </nav>
		<h1>{pageTitle}</h1>
		<p>私の名前は{identity.firstName}で、{identity.country}に住んでいます。</p>
		{identity.hobbies.length >= 2 &&
			<p>私の2つの趣味は{identity.hobbies[0]}と{identity.hobbies[1]}です。</p>
		}

	</body>
</html>